/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 1, 2014, 12:09:43 PM
    Author     : jmillard
*/

.dashboardTitle{
    font-size: 30px;
    color: #aa202d;
    alignment-baseline: middle;
    margin: 20px 1px 1px 1px;
    font-weight:bold;
    vertical-align: top;
}

.mainTitle{
    font-size: 20px;
    color: #aa202d;
    alignment-baseline: middle;
    margin: 20px 1px 1px 1px;
    font-weight:bold;
    vertical-align: top;
}
.paragraphTitle{
    font-size: 20px;
    color: #aa202d; 
    font-weight:bold;
    margin-bottom: 0px;
    padding-bottom: 0px;
    vertical-align: bottom;
}
.paragraphSubLines{
    font-size: 18px;
}

.main {
  -moz-box-shadow: 0px 1px 25px rgba(0, 28, 55, 0.4);
	-webkit-box-shadow: 0px 1px 25px rgba(0, 28, 55, 0.4);
	box-shadow: 0px 1px 25px rgba(0, 28, 55, 0.4);
	background-color: #fff;
	margin-right: auto;
	margin-left: auto;
	width: 1020px;
	padding-top: 3px;
        //height: 800px;
        height: auto;
}
/* the view tables are not processing the height:auto style above correctly. */
/* this should be fixed, but for now will hardcode the height for the view table forms */

.mainTable {
    height: 800px;
}

a:link    {color:#33CCCC;}
a:visited {color:blue;}
#headertable1content {
	width: 925px;
	height: 170px;
	/* border: 2px; */
	padding: 0;
	margin-left: 43px;
        margin-bottom: 0px;
        margin-top: 5px;
}
.mainheadercontent{
    width: 925px;
	padding: 0;
	margin-left: 43px;
        margin-bottom: 20px;
        height: 20px;
        
}
/* Currently not used */
.mainbody:after{
        background:url(http://omnicongroup.com/images/Industries%20Photos/new-industies-image.jpg);
        opacity: 0.1;
        background-size: 100%;
        position: absolute;
        z-index: -1;
        content: "";
}

.mainBody{
    margin-left: 60px;
    height: 580px;
}

.Title {
    /* this used to be 100% */
    width: 600px;
    //height: 100px;
    height: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    vertical-align: top;
    float: left;
}

.TitleRight {
   width: 250px;
  //height: 100px;
  height: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
    vertical-align: top;
    float: right;
}


.FirstCol{
    width: 40%;
    display:block;
    margin-top: 5px;
    margin-left: 10px;
    margin-bottom: 5px;
    vertical-align: top;
    float: left;
}

.SecondCol{
    width: 50%;
    display:block;
    margin-top: 5px;
    margin-left: 0px;
    margin-bottom: 5px;
    vertical-align: top;
    float: right;
}

.subCol p::first-letter{
    font-size: 20px;
    color: #aa202d; 
    font-weight:bold;
}
.subCol p{
    margin-bottom: 0px;
    margin-top: 0px;
}

.link {
    color:  blue;
    text-decoration: underline;
}

.link:hover {
    color: red;
    /* force cursor to turn to hand when hovered */
    cursor:pointer;
}