/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 30, 2014, 3:19:55 PM
    Author     : jmillard
*/
/* taking this out because main exists in dashboardCSS 
.main {
-moz-box-shadow: 0px 1px 25px rgba(0, 28, 55, 0.4);
	-webkit-box-shadow: 0px 1px 25px rgba(0, 28, 55, 0.4);
	box-shadow: 0px 1px 25px rgba(0, 28, 55, 0.4);
	background-color: #fff;
	margin-right: auto;
	margin-left: auto;
	width: 1020px;
	padding-top: 3px;
        // adding height.
        //height: 800px;
}

*/
.form action {
    height: 500px;
}

.formfield_top {  
     text-align: left;
     vertical-align: top;
     margin-left: 45px;
     margin-top: 0px;
     width: 1020px;
     line-height: 20px;
     float: left;
}

.formfield_col1 {  
     text-align: left;
     vertical-align: top;
     margin-left: -10px;
     margin-top: 0px;
     width: 287px;
     line-height: 20px;
     float: left;
}
.formfield_AIcol1 {  
     text-align: left;
     vertical-align: top;
     margin-left: 15px;
     margin-top: 0px;
     width: 271px;
     line-height: 20px;
     float: left;
}

.formfield_col2 { 
     text-align: left;
     vertical-align: top;
     margin-right: -10px;
     margin-top: 0px;
     width: 510px;
     line-height: 20px;
     float: right;
     
}
.column2 {
    text-align: left;
     vertical-align: top;
     margin-right: -300px;
     margin-top: 50px;
     width: 200px;
     line-height: 20px;
     float: right;
}
.Deliverable { 
     text-align: left;
     vertical-align: top;
     margin-right: 60px;
     margin-top: 0px;
     width: 450px;
     line-height: 20px;
     float: right;
     border:1px dotted gray;
     margin-top: 10px;
}
.DelCol1 {
    text-align: left;
     vertical-align: top;
     margin-left: 20px;
     margin-top: 0px;
     width: 90px;
     line-height: 20px;
     float: left;
    
}
.DelCol2 {
    text-align: left;
     vertical-align: top;
     margin-right: 10px;
     margin-top: 0px;
     width: 300px;
     line-height: 20px;
     float: right;
     margin-top: 2px;
    
}

.mainForm{
    margin-left: 60px;
    //height: 540px;
    height: auto;
}

/* this is used for the div that encloses the selection table on the child table update forms */
.mainFormTableInput{
    height: auto;
    margin-left: 5px;
}


.Buttons{
    margin-left: 90px;
    margin-bottom: 30px;
    float: left;
}

.TextBoxArea {
    width: 60%;
    margin-left: -20px;
    float: left;
    vertical-align: top;
    
}
mainTextBoxes {
    display:inline-block;
    vertical-align: top;
    margin-left: -50px;
    width: 100%;
    
}
.TextBoxes{
    display:inline-block;
    vertical-align: top;
    margin-left: 65px;
    width: 60%;
    
}

.TextBoxes2{
    display:inline-block;
    vertical-align: top;
    margin-left: -2px;
    width: 100%;
}

.TextBoxes3{
    display:inline-block;
    vertical-align: top;
    margin-left: 48px;
    width: 100%;
}



/*Colors for Status of Action Items Open, Closed, Pending 
#open {
    background-color: #33CC33;
}
#close {
    background-color: #FF0000;
}
#pending {
    background-color: #FFFF00;
}
#dropdown {
    background-color: #33CC33;
    width: 100px;
}
*/

textarea {vertical-align:middle;}

/* copied input cancel and gosubmit to classes instead of id styling */

input.cancel{
    margin-left:10px;
    cursor:pointer; /*forces the cursor to change to a hand when the button is hovered*/
    padding:5px 25px; /*add some padding to the inside of the button*/
    background:#FF0000; /*the colour of the button*/
    border:1px solid #33842a; /*required or the default border for the browser will appear*/
    /*give the button curved corners, alter the size as required*/
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    /*give the button a drop shadow*/
    -webkit-box-shadow: 0 0 4px rgba(0,0,0, .75);
    -moz-box-shadow: 0 0 4px rgba(0,0,0, .75);
    box-shadow: 0 0 4px rgba(0,0,0, .75);
    /*style the text*/
    color: #f3f3f3;
    font-size:1.1em;
}

/*** STYLE THE BUTTON'S HOVER AND FOCUS STATES ***/
input.cancel:hover, input#cancel:focus{
    background-color: #aa202d; /*make the background a little darker*/
    /*reduce the drop shadow size to give a pushed button effect*/
    -webkit-box-shadow: 0 0 1px rgba(0,0,0, .75);
    -moz-box-shadow: 0 0 1px rgba(0,0,0, .75);
    box-shadow: 0 0 1px rgba(0,0,0, .75);
}

input.gosubmit{
    margin-left:10px;
    cursor:pointer; /*forces the cursor to change to a hand when the button is hovered*/
    padding:5px 25px; /*add some padding to the inside of the button*/
    background:#35b128; /*the colour of the button*/
    border:1px solid #33842a; /*required or the default border for the browser will appear*/
    /*give the button curved corners, alter the size as required*/
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    /*give the button a drop shadow*/
    -webkit-box-shadow: 0 0 4px rgba(0,0,0, .75);
    -moz-box-shadow: 0 0 4px rgba(0,0,0, .75);
    box-shadow: 0 0 4px rgba(0,0,0, .75);
    /*style the text*/
    color:#f3f3f3;
    font-size:1.1em;
}
/***NOW STYLE THE BUTTON'S HOVER AND FOCUS STATES***/
input.gosubmit:hover, input#gosubmit:focus{
    background-color :#399630; /*make the background a little darker*/
    /*reduce the drop shadow size to give a pushed button effect*/
    -webkit-box-shadow: 0 0 1px rgba(0,0,0, .75);
    -moz-box-shadow: 0 0 1px rgba(0,0,0, .75);
    box-shadow: 0 0 1px rgba(0,0,0, .75);
}


/* these inherit from input.cancel and input.gosubmit above */
button.gosubmit{
    input.gosubmit;
}

button.cancel {
    input.cancel;
}


/* this is used for left panel within table, and is used in both rows */
#leftInfo {
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	padding: 5px;
        margin-top: 10px;
	width: 450px;
	float: left;
        padding-left: 15px;
        height: 890px;
}

/* this is used for right panel within table, and is used in both rows */

#rightInfo {
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	padding: 5px;
        margin-top: 10px;
	float: right;
	width: 450px;
        height: 890px;
}

#bottomInfo {
        float: bottom;
        width: 900px;
        /* for debug background-color :#399630; */
    
}
.submitButtonsStyle {
    margin-left: 200px;
}

.inputTextSmall {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	width: 250px;
        margin-bottom: 5px;
	height: 22px;
}



/* this is used for the View Items table */
.scroll {
    //height: 400px;
    height: auto;
    max-height: 700px;
    width: 1000px;
    overflow-y: scroll;
    border: 1px;
    border-color: black;
    border:1px solid black;
    margin-left: -50px;
}

/* this is used for selection/scrollable table on child input forms like sales task input */
.scrollTableInput {
    height: auto;
    max-height: 300px;
    width: 960px;
    overflow-y: scroll;
    border: 1px;
    border-color: black;
    border:1px solid black;
    margin-left: 15px;
}

/* this is used along with scrollTableInput to style tables on main forms like addNewSalesLead form */
.scrollTableSubTable {
    margin-left: 0px;
    width: 900px;
}

/* this is used for the Sales table */
/* I don't think this is used anymore */
.scroll2 {
    height: 300px;
    width: 900px;
    overflow-y: scroll;
    border: 1px;
    border-color: gray;
    border:1px solid gray;
    margin-left: -20px;
}

.scroll_sale {
    height: 110px;
    width: 290px;
    overflow-y: scroll;
    border: 1px;
    border-color: gray;
    border:1px solid gray;
    margin-bottom: -20px;
}
.scroll_task {
    height: 100px;
    width: 900px;
    overflow-y: scroll;
    border: 1px;
    border-color: gray;
    border:1px solid gray;
    margin-top: 20px;

}





/* the styles below used on the project add/update form */
.checkBoxListContainerSmall { 
        border:2px solid #ccc; 
        width:350px; 
        height: 120px; 
        overflow-y: scroll; 
}

.checkBoxListContainerLarge { 
        border:2px solid #ccc; 
        width:350px; 
        height: 200px; 
        overflow-y: scroll; 
}

/* this is used for left panel within table, and is used in both rows */
#leftInfoAdd {
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
	padding: 5px;
        margin-top: 10px;
	width: 450px;
	float: left;
        padding-left: 15px;
        height: 500px;
        /* color: #FF0000; */
}
#leftInfoAddSmall {
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
	padding: 5px;
        margin-top: 10px;
	width: 450px;
	float: left;
        padding-left: 15px;
        height: 250px;
        //height: auto;
        /* color: #FF0000; */
}

#leftInfoAddMed {
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
	padding: 5px;
        margin-top: 10px;
	width: 450px;
	float: left;
        padding-left: 15px;
        height: 320px;
        //height: auto;
        /* color: #FF0000; */
}

/* */
.requiredField {
    /*font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    */
    color: blue;
}

.linkToPopup {
    color: #33842a;
}

.errorMessage {
    /*font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    */
    color: red;
}
/* */
/* this is used for right panel within table, and is used in both rows */

#rightInfoAdd {
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	padding: 5px;
        margin-top: 10px;
	float: right;
	width: 450px;
        height: 500px;
}

#rightInfoAddSmall {
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	padding: 5px;
        margin-top: 10px;
	float: right;
	width: 450px;
        height: 250px;
        //height: auto;
}

#rightInfoAddMed {
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	padding: 5px;
        margin-top: 10px;
	float: right;
	width: 450px;
        height: 320px;
        //height: auto;
}

#bottomInfoAdd {
        float: bottom;
        width: 900px;
        margin-left: 10px;
        /* for debug background-color :#399630; */
    
}
#rightInfoAddTiny {
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	//padding: 5px;
        margin-top: 10px;
        margin-bottom: -20px;
	float: right;
	width: 450px;
        height: 50px;
        //height: auto;
}
#leftInfoAddTiny {
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
        font-weight:bold;
        color: #aa202d;
	//padding: 5px;
        margin-top: 10px;
        margin-bottom: -20px;
	float: left;
	width: 450px;
        height: 50px;
        //height: auto;
}
#middleInfoAddTiny {
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
        font-weight:bold;
        //color: #aa202d;
	//padding: 5px;
        margin-top: 10px;
        word-spacing:128px;
        text-indent: 50px;
        text-align-last: left;
        margin-bottom: -30px;
	float: left;
	width: 900px;
        height: 50px;
        //height: auto;
}

/* used on AI form to style <p> for date history message box */
.dateHistoryMsgBox {
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;        
        margin-top: 0px;
        margin-bottom: 0px;
        padding-top: 0px;
        padding-bottom: 0px;
	
}



.submitButtonsStyle {
    margin-left: 200px;
}

.textAreaStyle {
	height: 175px;
	//width: 300px;
        width: 350px;
        //vertical-align: top;
        //float: left;

}
.textAreaStyleLarge {
	height: 100px;
	width: 835px;
}

.richTextAreaStyleLarge {
	height: 100px;
	width: 835px;
        margin-bottom: 40px;
        margin-top: -20px;
}


/* used on add project form */
.textAreaStyleSmall {
	height: 100px;
	width: 350px;
}

/* used on add project form */
.textAreaStyleXSmall {
	height: 75px;
	width: 350px;
}

/* used on add project form */
.textAreaStyleXXSmall {
	height: 50px;
	width: 340px;
}


.mainFormProjectInput{
    margin-left: 60px;
    height: auto;
}

.inputTextSmall {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	width: 250px;
        margin-bottom: 5px;
	height: 22px;
}

/* these are used for form input field widths */
.formInputLarge {
	width: 300px;    
}

.formInputMedium {
    width: 225px;
}

.formInputSmall {
	width: 100px;
}

.dateInput {
    margin-top: -5px;
}
/* these are for the columns on the add forms within leftInfoAdd and rightInfoAdd */
#leftColumnInfo {
    float: left;
    width: 110px;
}

#leftColumnInfoLarge {
    float: left;
    width: 175px;
}

#rightColumnInfo {
    float: right;
    width: 300px;
    margin-right: 20px;
}
#rightColumnInfoRight {
    float: right;
    width: 175px;
    margin-right: 75px;
    margin-left: 0px;
}

#statusBox {
    border: 1px dotted gray;
    height: 90px;
    width: 300px;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    line-height: 20px;
}    
/* this is for items not in left and right columns that should have same left margin as
   left column on input forms. */
.marginLeft {
    margin-left: 17px;
}

.AIFormHeight {
    //height: 730px;
    height: auto;
}

.columnHeightSmall {
    height: 200px;
}

/* this is used for left panel within table, and is used in both rows */
/* class didn't work for some reason */
.leftInfoAddClass {
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
	padding: 5px;
        margin-top: 10px;
	width: 450px;
	float: left;
        padding-left: 15px;
        height: 690px;
        /* color: #FF0000; */
}

.textInputForm {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

/* used on view forms - title and reset filters */
#viewTitle {
    float: left;
    margin-left: 53px;
}

#resetFilter {
    float: right;
    margin-right: 53px;
    margin-top: 20px;
    text-align: right;
}

form.sales input[type=text].small{
    height: 18px;
    width: 150px;
}
form.sales input[type=text].med{
    height: 18px;
    width: 250px;
}

//this didn't work.  think I need to remove the class one'

tr.taskTableSelected {
    background-color: darkseagreen;
}

tr.taskTableSelected td {
    background-color: darkseagreen;
}
